<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.fullname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<table>
  <h2>Pets</h2>
  <thead>
    <tr>
      <th>Name</th>
      <th>Altura Máxima</th>
      <th>Peso Máximo</th>
    </tr>
  </thead>

  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.to_s %></td>
        <td><%= pet.max_weight %> kg</td>
        <td><%= pet.max_height%> cm</td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
